<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
    Best Bout Machine</strong> © by Tony Vanoni
        </p>
    </div>
</footer>
</div>
</section>
<script src="/javascripts/navbar.js"></script>
</body>

</html>