</head>

<body>
    <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-start">
                        <a class="navbar-item button .is-black is-outlined is-rounded" href="/">Best Bout Machine</a>
                        <a class="navbar-item button is-light is-inverted is-rounded" href="/matches">Recent Nominations</a>
                        <a class="navbar-item button is-light is-inverted is-rounded" href="/matches/new">Nominate a Match</a>
                        <a class="navbar-item button is-light is-inverted is-rounded" href="/promotions/new">ADD Promotion</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <strong>hello,
                            <%= user ? user.profile.name : "mark" %></strong>
                            <% if (user?.profile.avatar) { %>
                                <div class="navbar-item">
                                    <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar">
                                </div>
                                <% } %>
                                    <% if (user) { %>
                                        <a class="navbar-item button is-light is-inverted is-rounded" href="/auth/logout">Logout</a>
                                        <% } else { %>
                                            <div class="navbar-item">
                                                <img src="https://i.imgur.com/tNbIrh8s.jpg" height="28" width="28">
                                            </div>
                                            <a class="navbar-item button .is-black is-outlined is-rounded" href="/auth/google">Sign In w/ Google</a>
                                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
            <br>
            <h1 class="title">
                <%= title %>
            </h1>