<%- include('./partials/html-head') %>
    <%- include('./partials/nav') %>
        <img id="index-img" src="https://i.imgur.com/spGV9et.jpg" alt="Pro Wrestling Bout">
        <p class="subtitle">This website is made for everyone who casts their annual vote for pro wrestling's match of the year, can't remember all the matches they watched, and just chooses something from Wrestle Kingdom. You know how it goes.</p>
        <br>
        <% if (!user) { %>
            <h1 class="title is-4">Log in to see recent nominations</h1>
            <% } else { %>
                <h2 class="title is-4">Recent Nominations</h2>
                <p>
                    See match of the year candidates from around the world as chosen by you, the fans of pro wrestling.
                </p>
                <a href="/matches" class="link">Recent Nominations</a>
                <% } %>
                    <br>
                    <%- include('./partials/footer') %>