<%- include('./partials/html-head') %>
    <%- include('./partials/nav') %>
        <img id="index-img" src="https://i.imgur.com/spGV9et.jpg" alt="Pro Wrestling Bout">
        <p class="subtitle">This website is made for everyone who casts their annual vote for pro wrestling's match of the year, can't remember all the matches they watched, and just chooses something from Wrestle Kingdom. You know how it goes.</p>
        <br>
        <!-- admin functionality -->
        <% if (user?.profile._id == "61d23943f2c64a2367183a53") { %>
            <h1>Admin Control</h1>
            <% } %>
                <% if (!user) { %>
                    <h1 class="title is-4">Log in to see recent nominations</h1>
                    <% } else { %>
                        <h2 class="title is-4">Recent Nominations</h2>
                        <p>
                            See match of the year candidates from around the world as chosen by you, the fans of pro wrestling.
                        </p>
                        <div class="control">
                            <a href="/matches" class="button is-link is-rounded">View Recent Nominations</a>
                            <a href="/matches/new" class="button is-link is-rounded">Nominate a Match</a>
                        </div>
                        <% } %>
                            <br>
                            <%- include('./partials/footer') %>