<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <form class="field" action="/matches" method="POST">
            <label class="label">Promotion:</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="promotion">
            </div>
            <label class="label">Event Name</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="event">
            </div>
            <label class="label">Date</label>
            <div class="control">
                <input class="input is-info is-rounded" type="datetime-local" name="date">
            </div>
            <label class="label">Wrestlers</label>
            <div class="control">
                <input class="input is-info is-rounded" type="textarea" name="wrestlers">
            </div>
            <label class="label">Match Type</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="matchType">
            </div>
            <label class="label">Result</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="result">
            </div>
            <br>
            <div class="control">
                <input class="button is-link is-outlined is-rounded" type="submit" value="Nominate Match">
            </div>
        </form>
        <br>
        <br>
        <%- include('../partials/footer') %>