<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <p>Please first ensure that the Promotion is not in the dropdown
            <select>
    <% promotions.forEach(function(promotion) { %>
      <option><%= promotion.name %></option>
    <% }) %>
  </select>
        </p>
        <form class="field" action="/promotions" method="POST">
            <label>Promotion Name:</label>
            <input class="input" type="text" name="name">
            <label>Country:</label>
            <input class="input" type="text" name="country">
            <input class="button is-link is-outlined" type="submit" value="Add Promotion">
        </form>
        <br>
        <br>
        <%- include('../partials/footer') %>