<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <div class="message-header">Nominated Matches:</div>
        <br>
        <a href="/matches/new" class="button is-link is-rounded">Nominate a Match</a>
        <br><br>
        <%- matches.map(match => 
  `
                                                    <div class="card">
                                                        <div class="card-content">
                                                            <li class="title is-4 has-text-link">
                                                              <a href="/matches/${match._id}">${match.wrestlers} <small>${match.date.toLocaleDateString()}</small></a>
                                                            </li>
                                                            </div>
                                                            </div>
                                                            <br>`
      ).join('') %>

            <%- include('../partials/footer') %>