<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <div>Nominated Matches:</div>
        <%- matches.map(match => 
        `<a href="/matches/${match._id}">${match.wrestlers} <small>${match.date.toLocaleDateString()}</small></a>`
      ).join('') %>

            <%- include('../partials/footer') %>